<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :full_name, "Nome Completo" %><br />
    <%= f.text_field :full_name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :nickname, "Apelido" %><br />
    <%= f.text_field :nickname, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label :phone, "Telefone" %><br />
    <%= f.text_field :phone, autocomplete: "phone" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(deixe em branco se não quiser alterar)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres mínimo</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(precisamos da sua senha atual para confirmar as alterações)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :avatar, "Avatar" %><br />
    <%= f.file_field :avatar, accept: "image/*" %>
    <% if resource.avatar.present? %>
      <br>
      <%= image_tag resource.avatar.url, style: "width: 100px; height: auto;" %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar" %>
  </div>
<% end %>

<h3>Cancelar minha conta</h3>

<div>Insatisfeito? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?", turbo_confirm: "Tem certeza?" }, method: :delete %></div>

<%= link_to "Voltar", :back %>