<div class="container">
  <h1>Lista de Partidas</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Time A</th>
        <th>Placar</th>
        <th>Time B</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @matches.each do |match| %>
        <tr>
          <td><%= match.team_a_name %></td>
          <td><%= match.score_a %> - <%= match.score_b %></td>
          <td><%= match.team_b_name %></td>
          <td><%= match.status %></td>
          <td>
            <% if match.can_be_finalized? %>
              <%= link_to 'Finalizar Partida', admin_match_path(match), method: :post, class: 'btn btn-sm btn-success' %>
            <% end %>
            <%= link_to 'Ver Detalhes', admin_match_path(match), class: 'btn btn-sm btn-info' %>
            <%= link_to 'Editar', edit_admin_match_path(match), class: 'btn btn-sm btn-warning' %>
            <%= link_to 'Resultados', result_admin_match_path(match), class: 'btn btn-sm btn-secondary' %>
            <%= link_to 'Excluir', admin_match_path(match), method: :delete, data: { confirm: 'Você tem certeza que deseja excluir esta partida?' }, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Paginação -->
    <div class="pagination-container">
    <div class="d-flex justify-content-center">
    <%= paginate @matches %>
  </div>
</div>

    