<h1>Nova Competição</h1>

<% if @championship.errors.any? %>
  <div id="error_explanation" style="border: 1px solid #f00; padding: 10px; background-color: #fee;">
    <h2><%= pluralize(@championship.errors.count, "erro") %> impediram esta competição de ser guardada:</h2>
    <ul>
      <% @championship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @championship, url: admin_championships_path, local: true do |form| %>
  <div class="field">
    <%= form.label :name, "Nome da Competição" %><br>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="actions" style="margin-top: 10px;">
    <%= form.submit "Criar Competição", class: "btn btn-primary" %>
    <%= link_to "Voltar", admin_championships_path, class: "btn btn-secondary", style: "margin-left: 10px;" %>
  </div>
<% end %>
