<!-- app/views/admin/teams/_form.html.erb -->
<%= form_with model: [:admin, @team], local: true do |form| %>
  <div>
    <%= form.label :name, "Nome do time" %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :logo, "Logo do time" %><br>
    <%= form.file_field :logo %>
    <% if @team.logo.attached? %>
      <p>Logo atual:</p>
      <%= image_tag @team.logo, width: 100 %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
